:root {
  --bg-closeBtn-color: #ec9b64;
  --bg-mainText-color: #f57996;
  --bg-subText-color: #928f8d;
  --boder-line-color: #cbcbcd;
}

body {
  background-color: #f3f4f7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* todo-layout */
.main-layout {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 636px;
  height: 739px;
  border-radius: 38px;
  position: relative;
}
.todo-layout {
  padding: 40px;
}

.todo-info {
  display: flex;
  flex-direction: row;
}
.todo-title {
  font-size: 36px;
  font-weight: bold;
}
.todo-date {
  display: inline;
  margin-top: 16px;
  margin-left: 30px;
  font-size: 20px;
  color: var(--bg-subText-color);
}
.todo-tasks {
  color: var(--bg-mainText-color);
  font-size: 24px;
  font-weight: bold;
  padding-top: 13px;
}
.todo-input {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.todo-input input {
  width: 100%;
  height: 48px;
  padding: 0px 12px 0px 12px;
  font-size: 22px;
  color: var(--bg-subText-color);
  box-sizing: border-box; /* 속성 정리하기 */
  text-align: left;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--boder-line-color);
}
.add-box {
  width: 60px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0 7px;
  border: 2px solid var(--boder-line-color);
  border-radius: 108px;
  font-weight: bold;
  color: var(--bg-subText-color);
}

button {
  border: 0;
  background-color: transparent;
}

/* list-layout */
.list-layout {
  padding: 0 40px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-check-box {
  display: flex;
  align-items: center;
  width: 100%;
}
.todo-check-box span {
  margin-left: 10px;
  font-size: 18px;
}
.check-icon {
  border: 2px solid var(--boder-line-color);
  border-radius: 6px;
  font-size: 20px;
  padding: 5px;
}
.delate-box {
  color: var(--bg-closeBtn-color);
  font-size: 27px;
  font-weight: bold;
  margin-right: 7%;
}
