@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

:root {
  --bg-closeBtn-color: #ec9b64;
  --bg-mainText-color: #f57996;
  --bg-subText-color: #928f8d;
  --boder-line-color: #cbcbcd;
  --highlight-color: #0274ff;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f3f4f7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";

  .scrollBar::-webkit-scrollbar {
    width: 16px;
    height: 8px;
  }

  .scrollBar::-webkit-scrollbar-thumb {
    background: rgba(54, 51, 51, 0.1);
    border-radius: 10px;
  }

  .scrollBar::-webkit-scrollbar-track {
    background: rgba(88, 72, 72, 0.1);
    border-radius: 10px;
  }
}

/* todo-layout */
.main-layout {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 636px;
  height: 739px;
  border-radius: 38px;
  position: relative;
}
.todo-layout {
  padding: 40px 40px 10px 40px;
}

.todo-info {
  display: flex;
  flex-direction: row;
}
.todo-title {
  font-size: 36px;
  font-weight: bold;
}
.todo-date {
  display: inline;
  margin-top: 19px;
  margin-left: 15px;
  font-size: 19px;
  color: var(--bg-subText-color);
}
.todo-tasks {
  color: var(--bg-mainText-color);
  font-size: 24px;
  font-weight: bold;
  padding-top: 13px;
}
.todo-input {
  display: flex;
  width: 100%;
  margin-top: 53px;
}

.todo-input input {
  width: 100%;
  height: 48px;
  padding: 0px 12px 0px 12px;
  font-size: 18px;
  text-align: left;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--boder-line-color);
  font-family: "Pretendard-Regular";
}

input::placeholder {
  color: var(--bg-subText-color);
}
.add-box {
  width: 110px;
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  border: 2px solid var(--boder-line-color);
  border-radius: 108px;
  font-weight: bold;
  color: var(--bg-subText-color);
  cursor: pointer;
  font-family: "Pretendard-Regular";
}

button {
  border: 0;
  background-color: transparent;
}

/* list-layout */
.list-layout {
  padding: 0 54px;
  overflow: auto;
  height: 460px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}
.todo-check-box {
  display: flex;
  align-items: center;
  width: 100%;
}
.todo-check-box span {
  margin-left: 10px;
  font-size: 18px;
}
.check-icon {
  border-radius: 3px;
  height: 23px;
  width: 23px;
  background-color: var(--highlight-color);
  border: 1px solid var(--boder-line-color);
}
.check-icon span {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 100%;
  color: white;
}
.is-done-box {
  border-radius: 3px;
  height: 23px;
  width: 23px;
  border: 1px solid var(--boder-line-color);
}

.delete-box {
  color: var(--bg-closeBtn-color);
  font-size: 27px;
  font-weight: bold;
  margin-right: 13px;
  cursor: pointer;
}
